/* 
    Document   : main
    Created on : Jan 16, 2014, 9:59:17 AM
    Author     : Ryan Kenney
    Description:
        Main stylesheet
*/

root { 
    display: block;
}

body {
    margin: 0px;
}

#OpeningGraphic {
    text-align: center;
}

#OpeningGraphic p {
    font-weight: bold;
    font-size: 300%;
}

#MainMenuOptions {
    margin-top: 15%;
    margin-left: 35%;
    text-shadow:1px 1px 0px #ffffff;
    list-style-type: none;
}

#MainMenuOptions li {
    margin-bottom: 2%;
}

#MainGameCanvas {
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

#Controls_Facts_Table {
    width: 100%;
    font-size: 16pt;
    vertical-align: baseline;
    border-collapse: collapse;
}

#Controls_Rules_List {
    list-style-type: none;
    white-space: nowrap;
    width: 200000px;
}

#Controls_Rules_List li {
    display: inline;
    margin-left: .6826vw;
    padding-right: .6826vw;
    border-right: #ffffff solid 2px;
    float: left;
}

#Controls_Executor_Result {
    text-align: center;
    vertical-align: baseline;
    font-size: 20px;
}

#Controls_Display {
    position:  fixed;
    font-size: 20px;
    padding: 1%;
    border-bottom-right-radius: 30px;
    background: -webkit-linear-gradient(#A2A2A2, #A0A0A0);
    width: 33%;
}

#PauseMenu {
    background-color: #FFFFFF !important;
}

#PauseMenu_Content {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 25%;
    padding-right: 25%;
}

#FilterLayer {
    background: rgba(128, 128, 128, 0.5);
}

#Options {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 25%;
    padding-right: 25%;
}

.fill {
    height: 100%;
    width: 100%;
}

.menu-item {

}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.rule {
    width: 10vw; /* 13 for 4:3 */
    height: 13vh;
    text-align: center;
    font-size: calc(10.24vh * 0.21 + 10px);
    background: 
        radial-gradient(rgba(255, 32, 32, 0.8), rgba(255, 32, 32, 0.6));
}

.rule-filled {
    text-align: center;
    font-size: 35px;
    background: 
        radial-gradient(rgba(255, 32, 32, 0.9), rgba(255, 32, 32, 0.8)) 
        !important;
}

.rule-text {
    margin-top: -0.5em;
    top: 40%;
    height: inherit;
    position: relative;
}

.fact {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: baseline;
    font-size: 20px;
    background: 
        radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
}

.fact-filled {
    text-align: center;
    vertical-align: baseline;
    font-size: 20px;
    background: 
        radial-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)) 
        !important;
}

.fact-row-selected {
    background-color: rgba(255, 255, 0, 0.8);
    transition: all .5s linear;
}

.boxed {
    border: 1px black solid;
    border-radius: 5px;
}

.ovaled {
    border: 1px black solid;
    border-radius: 25px;
}

.lifted {
    box-shadow: 0px 5px 15px #0A0A0A;
}
.glowing {
    box-shadow: 0px 0px 35px #FFD700;
    transition: all .5s linear;
}

.hover-glowing {
    box-shadow: 0px 0px 20px #20FF20;
    transition: all .5s linear;
}

.last-item {
    border-right: none !important;
}

.executor-box {
    min-width: 10vw; /*13 for 4:3 */
    min-height: 13vh;
    background: rgba(128,128,128,0.3);
    border: 1px black solid;
    border-radius: 5px;
}

.menu-focused {
    background: radial-gradient(red, white);
}

.machine-focused {
    background: url("../img/digital.svg") no-repeat top left;
    background-size: contain;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.replacement-control-hover {
    /* TODO switch to be nicer color */
    background-color: red;
}

.replacement-control-selected {
    background-color: blue !important;
}

.replacement-result {
    margin: 1%;
    width: auto;
    padding: 0.5%;
}

.tutorial-table table { 
    border-collapse: collapse; 
    text-align: left; 
    width: 100%; 
} 

.tutorial-table {
    font: normal 12px/150% Arial, Helvetica, sans-serif; 
    background: #fff; overflow: hidden; 
    border: 1px solid #991821; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; }

.tutorial-table table td, .tutorial-table table th {
    padding: 3px 10px; 
}

.tutorial-table table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #CC0000), color-stop(1, #80141C) );
    background:-moz-linear-gradient( center top, #CC0000 5%, #80141C 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC0000', endColorstr='#80141C');
    background-color:#CC0000; 
    color:#FFFFFF; 
    font-size: 15px; 
    font-weight: bold; 
    border-left: 1px solid #B01C26; 
} 

.tutorial-table table thead th:first-child {
    border: none; 
}

.tutorial-table table tbody td { 
    color: #80141C; 
    border-left: 1px solid #F7CDCD;
    font-size: 12px;
    font-weight: normal; 
}

.tutorial-table table tbody .alt td { 
    background: #F7CDCD; 
    color: #80141C; 
}

.tutorial-table table tbody td:first-child { 
    border-left: none; 
}

.tutorial-table table tbody tr:last-child td {
    border-bottom: none; 
}