/* 
    Created on : Mar 19, 2014, 7:13:19 PM
    Author     : Ryan Kenney
*/

#Controls_AddTable {
    position: absolute;
    background-color: rgba(255, 245, 245, 245);
    border: 1px solid black;
    padding: 6px;
    border-radius: 10px;
}


#Controls_AddTable_Banner {
    background-color: rgb(240, 225, 225);
    border-radius: 10px;
}

#Controls_AddTable_Banner:hover {
    background-color: rgb(230, 215, 215);
}

.select-fact {
    
}

#Dialogs_FactCreation {
    width: auto;
}

#Dialogs_FactCreation_Creation {
    width: 460px;
    height: 100px;
    background-color: #FFDFDF;
    border-radius: 10px;
    vertical-align: middle;
    padding-left: 15px;
    padding-top: 15px;
}

#Dialogs_FactCreation_OpList {
    list-style-type: none;
    white-space: nowrap;
    width: 600px;
}

#Dialogs_FactCreation_OpList li {
    display: inline;
    padding-right: 15px;
    float: left;
}

.selected {
    background-color: #FFD700 !important;
}

.operator {
    width: 30px;
    height: 30px;
    font-size: 14pt;
    text-align: center;
    border-radius: 5px;
    background-color: #DFFFDF;
}

.operator span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.tool {
    min-width: 30px;
    min-height: 30px;
    font-size: 11pt;
    text-align: center;
    border-radius: 5px;
    background-color: #DFDFFF;
}

.tool span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.creation-element {
    background-color: #FFCFCF;
    width: 30px;
    height: 30px;
    font-size: 14pt;
    border-radius: 5px;
}

.creation-operator {
    background-color: #DFFFDF;
    width: 30px;
    height: 30px;
    font-size: 14pt;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.paren {
    background-color: #DFDFFF;
    font-size: 14pt;
    border-radius: 5px;
}

.negation {
    padding-right: 2px;
    padding-left: 2px;
}

.gray {
    background-color: #DFDFFF;
    border-radius: 5px;
}

.red {
    background-color: #FFCFCF;
    border-radius: 5px;
}

.green {
    background-color: #DFFFDF;
    border-radius: 5px;
}